target/
logs/

# not needed in commits, but also not a problem if they are committed
/.automation_tasks_rs_file_hashes.json

# always fresh dependenciew
Cargo.lock

# test artifacts don't need to be commited
tests/test_github_api_token_ssh_1
tests/test_github_api_token_ssh_1.pub
tests/test_github_api_token_encrypted.txt
